body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI Condensed","Segoe UI","Segoe WP",Tahoma,Arial,sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}